.offer-res{
    display: flex;
}
@media screen and (max-width: 700px){
    .responsive-car{
        aspect-ratio: 3/2;
    }
    .offer-res{
        flex-direction: row;
    }
    .black{
        height: 50%;
    }
}
@media screen and (min-width: 700px) {
    .offer-res{
        flex-direction: column;
    }
    .responsive-car{
        aspect-ratio: 3/1.5;
    }
    
}
